<!DOCTYPE html>
<html
  lang="en"
  xmlns:th="http://www.thymeleaf.org"
  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
  layout:decorate="~{layouts/app}"
>
  <head th:replace="~{fragments/header :: header('Data Asesor')}"></head>

  <body>
    <div layout:fragment="page-title">
      <h1 class="m-0">Data Pengguna</h1>
    </div>
    <div layout:fragment="breadcrumb">
      <ol class="breadcrumb float-sm-right">
        <li class="breadcrumb-item"><a href="#">Home</a></li>
        <li class="breadcrumb-item active">Data Asesor</li>
      </ol>
    </div>
    <div layout:fragment="content">
      <div class="card">
        <div class="card-header">
          <div class="row mb-3"></div>

          <form th:action="@{/admin/data-asesor}" method="get">
            <div class="row">
              <div class="col-12 col-md-4 mb-2">
                <div class="form-group mb-0">
                  <div class="input-group">
                    <input
                      type="text"
                      class="form-control"
                      name="keyword"
                      th:value="${keyword}"
                      placeholder="Masukkan Nama Lengkap"
                    />
                    <div class="input-group-append">
                      <button type="submit" class="btn btn-outline-info">
                        <i class="fas fa-search"></i> Cari
                      </button>
                    </div>
                  </div>
                </div>
              </div>

              <div class="col-12 col-md-3 mb-2 d-flex align-items-end">
                <a
                  th:href="@{/admin/data-asesor}"
                  class="btn btn-default btn-block"
                >
                  <i class="fas fa-sync-alt"></i> Reset Filter
                </a>
              </div>
            </div>
          </form>
        </div>
        <!-- /.card-header -->
        <div class="card-body responsive">
          <table
            id="tableAsesor"
            class="table table-bordered table-hover table-responsive-md projects"
          >
            <thead>
              <tr class="text-center">
                <th>No</th>
                <th>Detail Asesor</th>
                <th>Photo</th>
                <th style="width: 10%;">Jumlah Asesmen</th>
            
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>1</td>
                <td>Nama Asesor - No.Met</td>
                <td>image</td>
                <td>20</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </body>
</html>
