<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head th:replace="~{fragments/header :: header(~{::title/text()})}">
    <title>Default Page Title</title>
</head>

<body class="hold-transition sidebar-mini">
<div class="wrapper">
    
    <div th:replace="~{fragments/navbar :: navbar}"></div>
    
    <div th:replace="~{fragments/sidebar :: sidebar}"></div>

    <div class="content-wrapper">
        <th:block layout:fragment="content"></th:block>
    </div>
    <div th:replace="~{fragments/footer :: footer}"></div>
</div>
<div th:replace="~{fragments/scripts :: scripts}"></div>

<th:block layout:fragment="page-scripts"></th:block>

</body>
</html>