<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      th:replace="~{layouts/app :: layout(~{::title}, ~{::section}, ~{::script})}">

<head>
    <title>Admin Dashboard</title>
</head>
<body>

<section layout:fragment="content">
    <div class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-6">
                    <h1 class="m-0">Admin Dashboard</h1>
                </div>
            </div>
        </div>
    </div>
    <div class="content">
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-6">
                    <div class="card">
                        <div class="card-header border-0">
                            <div class="d-flex justify-content-between">
                                <h3 class="card-title">Pendaftar Online</h3>
                                <a href="javascript:void(0);">Lihat Laporan</a>
                            </div>
                        </div>
                        <div class="card-body">
                            <div class="position-relative mb-4">
                                <canvas id="visitors-chart" height="200"></canvas>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="card">
                        <div class="card-header border-0">
                            <div class="d-flex justify-content-between">
                                <h3 class="card-title">Skema Populer</h3>
                                <a href="javascript:void(0);">Lihat Laporan</a>
                            </div>
                        </div>
                         <div class="card-body">
                            <div class="position-relative mb-4">
                                <canvas id="sales-chart" height="200"></canvas>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<script layout:fragment="page-scripts">
    <script th:src="@{/plugins/chart.js/Chart.min.js}"></script>
    <script th:src="@{/dist/js/pages/dashboard3.js}"></script>
</script>

</body>
</html>