<!DOCTYPE html>
<html
  lang="en"
  xmlns:th="http://www.thymeleaf.org"
  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
  layout:decorate="~{layouts/app}"
>
  <head th:replace="~{fragments/header :: header('Detail TUK')}"></head>

  <body>
    <div layout:fragment="page-title">
      <h1 class="m-0">Detail TUK</h1>
    </div>
    <div layout:fragment="content">
      <div class="container-fluid">
        <div class="row">
          <div class="col-12">
            <div class="card card-blue-dark">
              <div class="card-header">
                <h3 class="card-title">1. Profile TUK</h3>
              </div>
              <div class="card-body">
                <div class="form-group">
                  <label>Nama TUK</label>
                  <input
                    type="text"
                    class="form-control bg-white"
                    th:value="${tuk.name}"
                    disabled
                  />
                </div>
                <div class="row">
                  <div class="col-md-6">
                    <div class="form-group">
                      <label>Kode TUK</label>
                      <input
                        class="form-control bg-white"
                        th:value="${tuk.code}"
                        disabled
                      />
                    </div>
                  </div>
                  <div class="col-md-6">
                    <div class="form-group">
                      <label>Jenis TUK</label>
                      <input
                        class="form-control bg-white"
                        th:value="${tuk.tukType?.name ?: '-'}"
                        disabled
                      />
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col-12">
            <div class="card card-blue-dark">
              <div class="card-header">
                <h3 class="card-title">2. Detail TUK</h3>
              </div>
              <div class="card-body">
                <div class="row">
                  <div class="col-md-6">
                    <div class="form-group">
                      <label>No. Telp</label>
                      <input
                        class="form-control bg-white"
                        th:value="${tuk.phoneNumber}"
                        disabled
                      />
                    </div>
                  </div>
                  <div class="col-md-6">
                    <div class="form-group">
                      <label>Email</label>
                      <input
                        class="form-control bg-white"
                        th:value="${tuk.email}"
                        disabled
                      />
                    </div>
                  </div>
                </div>

                <div class="row">
                  <div class="col-md-6">
                    <div class="form-group">
                      <label>Provinsi</label>
                      <input
                        id="viewProv"
                        class="form-control bg-white"
                        th:data-id="${tuk.provinceId}"
                        value="Loading..."
                        disabled
                      />
                    </div>
                  </div>
                  <div class="col-md-6">
                    <div class="form-group">
                      <label>Kota/Kab</label>
                      <input
                        id="viewCity"
                        class="form-control bg-white"
                        th:data-id="${tuk.cityId}"
                        value="Loading..."
                        disabled
                      />
                    </div>
                  </div>
                </div>

                <div class="form-group">
                  <label>Alamat</label>
                  <textarea
                    class="form-control bg-white"
                    rows="3"
                    th:text="${tuk.address}"
                    disabled
                  ></textarea>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="card-footer mt-3 text-left">
          <a
            th:href="@{'/admin/tuk/edit/' + ${tuk.id}}"
            class="btn btn-outline-warning"
            >Edit</a
          >
          <a th:href="@{/admin/tuk}" class="btn btn-outline-info">Kembali</a>
        </div>
      </div>
    </div>
  </body>
</html>
