<!DOCTYPE html>
<html
  lang="en"
  xmlns:th="http://www.thymeleaf.org"
  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
  layout:decorate="~{layouts/app}"
>
  <head th:replace="~{fragments/header :: header('Data TUK')}"></head>

  <body>
    <div layout:fragment="page-title">
      <h1 class="m-0">Data TUK</h1>
    </div>
    <div layout:fragment="breadcrumb">
      <ol class="breadcrumb float-sm-right">
        <li class="breadcrumb-item"><a href="#">Home</a></li>
        <li class="breadcrumb-item active">Data TUK</li>
      </ol>
    </div>
    <div layout:fragment="content">
      <div class="card">
        <div class="card-header">
          <div
            class="d-flex flex-column-reverse flex-md-row justify-content-md-between align-items-md-center gap-2 mb-3"
          >
            <form
              th:action="@{/}"
              method="get"
              class="d-flex"
              style="width: 100%; max-width: 450px"
            >
              <input
                type="text"
                name="keyword"
                class="form-control me-2"
                placeholder="Cari Skema"
                th:value="${keyword}"
                aria-label="Search"
              />
              <button type="submit" class="btn btn-outline-info">Cari</button>
              <a
                th:href="@{/}"
                class="btn btn-outline-danger ms-2"
                title="Reset Pencarian"
                >Reset</a
              >
            </form>

            <a
              th:href="@{/admin/tuk/tambah-tuk}"
              class="btn btn-outline-primary"
            >
              <i class="fas fa-plus me-1"></i>Tambah Data
            </a>
          </div>
        </div>
        <!-- /.card-header -->
        <div class="card-body responsive">
          <table
            id="example2"
            class="table table-bordered table-hover table-responsive-md"
          >
            <thead>
              <tr class="text-center">
                <th>No</th>
                <!-- <th>Nama TUK</th>
                <th>Kode TUK</th>
                <th>Jenis TUK</th> -->
                <th class="table-tuk col-profile">Profile TUK</th>
                <th>Alamat</th>
                <th>Aksi</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td class="align-middle text-center">1</td>

                <td class="align-middle">
                  <div class="tuk-profile">
                    <strong>Nama TUK</strong>
                    <p class="mb-2">
                      Fakultas Ilmu Komputer Universitas Brawijaya
                    </p>

                    <div class="profile-details">
                      <div class="detail-item">
                        <strong>Kode TUK</strong>
                        <span>TUK-LSPTDDI-001</span>
                      </div>
                      <div class="detail-item">
                        <strong>Jenis TUK</strong>
                        <span>Sewaktu</span>
                      </div>
                    </div>
                  </div>
                </td>

                <td class="align-middle">
                  Jl. Kebon Sirih No.1, RT.1/RW.1, Gambir, Jakarta Pusat
                </td>

                <td class="align-middle">
                  <div class="action-buttons">
                    <a
                      th:href="@{/admin/tuk/view-tuk}"
                      class="btn btn-info btn-sm"
                      title="Detail"
                    >
                      <i class="fas fa-eye"></i>
                    </a>
                    <a
                      th:href="@{/admin/tuk/edit-tuk}"
                      class="btn btn-warning btn-sm"
                      title="Edit"
                    >
                      <i class="fas fa-edit"></i>
                    </a>
                    <a href="#" class="btn btn-danger btn-sm" title="Hapus">
                      <i class="fas fa-trash"></i>
                    </a>
                  </div>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
        <!-- /.card-body -->
        <div class="card-footer clearfix">
          <ul class="pagination pagination-sm m-0 float-right">
            <li class="page-item"><a class="page-link" href="#">&laquo;</a></li>
            <li class="page-item"><a class="page-link" href="#">1</a></li>
            <li class="page-item"><a class="page-link" href="#">2</a></li>
            <li class="page-item"><a class="page-link" href="#">3</a></li>
            <li class="page-item"><a class="page-link" href="#">&raquo;</a></li>
          </ul>
        </div>
      </div>
    </div>
  </body>
</html>
