<!DOCTYPE html>
<html
  lang="en"
  xmlns:th="http://www.thymeleaf.org"
  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
  layout:decorate="~{layouts/app}"
>
  <head th:replace="~{fragments/header :: header('Surat Tugas Asesor')}"></head>

  <body>
    <div layout:fragment="page-title">
      <h1 class="m-0">Surat Tugas Asesor</h1>
    </div>
    <div layout:fragment="breadcrumb">
      <ol class="breadcrumb float-sm-right">
        <li class="breadcrumb-item"><a href="#">Home</a></li>
        <li class="breadcrumb-item active">Surat Tugas</li>
      </ol>
    </div>
    <div layout:fragment="content">
      <div
        th:if="${success}"
        class="alert alert-success alert-dismissible fade show mx-2"
        role="alert"
      >
        <span th:text="${success}"></span>
        <button
          type="button"
          class="close"
          data-dismiss="alert"
          aria-label="Close"
        >
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="card">
        <div class="card-header">
          <div
            class="d-flex flex-column-reverse flex-w flex-md-row justify-content-md-between align-items-md-center gap-2 mb-3"
          >
            <form
              th:action="@{/admin/surat-tugas-asesor}"
              method="get"
              class="d-flex"
              style="width: 100%; max-width: 450px"
            >
              <input
                type="text"
                name="keyword"
                class="form-control me-2"
                placeholder="Cari Nama Asesor"
                th:value="${keyword}"
                aria-label="Search"
              />
              <button type="submit" class="btn btn-outline-info">Cari</button>
              <a
                th:href="@{/admin/surat-tugas-asesor}"
                class="btn btn-outline-danger ms-2"
                title="Reset Pencarian"
                >Reset</a
              >
            </form>

            <a
              th:href="@{/admin/surat-tugas-asesor/buat}"
              class="btn btn-outline-primary"
            >
              <i class="fas fa-file-pdf me-1"></i>Buat Surat
            </a>
          </div>
        </div>
        <!-- /.card-header -->
        <div class="card-body responsive">
          <table
            class="table table-jadwal table-bordered table-hover table-responsive-md"
          >
            <thead>
              <tr class="text-center">
                <th>No</th>
                <th>Detail Asesor</th>
                <th>Detail Penugasan</th>
                <th>Aksi</th>
              </tr>
            </thead>
            <tbody class="align-middle">
              <th:block th:each="st, stat : ${listSurat}">
                <tr>
                  <td th:text="${(size * currentPage) + stat.count}">1</td>

                  <td>
                    <div class="plan-profile">
                      <strong>Nama Asesor</strong>
                      <p class="mb-3" th:text="${st.asesor.fullName}">
                        Haryo Mirsandi
                      </p>

                      <div class="plan-details">
                        <div class="jadwal-item">
                          <strong>No. Reg.</strong>
                          <strong>No. Surat Tugas</strong>
                        </div>

                        <div class="jadwal-item">
                          <span
                            th:text="${st.asesor.noMet != null ? st.asesor.noMet : '-'}"
                          >
                            MET.000.898999.2024</span
                          >
                          <span
                            class="badge badge-success"
                            th:text="${st.nomorSurat}"
                            >001/ST/LSPTDDI/I/2026</span
                          >
                        </div>
                      </div>
                    </div>
                  </td>
                  <td>
                    <div class="plan-profile">
                      <strong>Nama Jadwal</strong>
                      <p class="mb-3" th:text="${st.jadwal.name}">
                        Sertifikasi BIA
                      </p>

                      <div class="plan-details">
                        <div class="jadwal-item">
                          <strong>TUK</strong>
                          <strong>Tanggal Asesmen</strong>
                          <strong>Skema</strong>
                        </div>

                        <div class="jadwal-item">
                          <span
                            th:text="${st.jadwal.tuk.name}"
                          >
                            >MPS</span
                          >
                          <span
                            th:text="${#temporals.format(st.jadwal.startDate, 'dd MMMM yyyy')}"
                          >
                            >09 September 2025</span
                          >
                          <span th:text="${st.skema.name}"
                            >Associate Data Science</span
                          >
                        </div>
                      </div>
                    </div>
                  </td>

                  <td class="align-middle">
                    <div class="action-buttons">
                      <a
                        class="btn btn-outline-primary btn-sm"
                        th:href="@{${st.filePath}}"
                        target="_blank"
                        title="Lihat PDF"
                      >
                        <i class="fas fa-file-pdf"> </i>
                      </a>
                      <!-- <a
                        class="btn btn-outline-info btn-sm"
                        th:href="@{/admin/skema/edit-skema}"
                        title="Edit"
                      >
                        <i class="fas fa-pencil-alt"> </i>
                      </a> -->
                      <a
                        class="btn btn-outline-danger btn-sm delete-button-surat"
                        th:href="@{'/admin/surat-tugas-asesor/delete/' + ${st.id}}"
                        title="Hapus"
                      >
                        <i class="fas fa-trash"> </i>
                      </a>
                    </div>
                  </td>
                </tr>
              </th:block>

              <tr th:if="${listSurat.empty}">
                <td colspan="4" class="text-center text-muted">
                  Belum ada surat tugas dibuat.
                </td>
              </tr>
            </tbody>
          </table>
        </div>
        <div class="card-footer clearfix">
          <div class="row">
            <div class="col-sm-12 col-md-5">
              <span class="text-muted small">
                <div class="dataTables_info" role="status" aria-live="polite">
                  Menampilkan
                  <b th:text="${(currentPage * 10) + 1}">1</b> sampai
                  <b th:text="${(currentPage * 10) + listSurat.size()}">10</b>
                  dari <b th:text="${totalItems}">50</b> data
                </div>
              </span>
            </div>
            <div class="col-sm-12 col-md-7">
              <ul
                class="pagination pagination-sm m-0 float-right"
                th:if="${totalPages > 0}"
              >
                <li
                  class="page-item"
                  th:classappend="${currentPage == 0} ? 'disabled'"
                >
                  <a
                    class="page-link"
                    th:href="@{/admin/surat-tugas-asesor(page=${currentPage - 1}, keyword=${keyword})}"
                    >&laquo;</a
                  >
                </li>

                <li
                  class="page-item"
                  th:each="i : ${#numbers.sequence(0, totalPages - 1)}"
                  th:if="${i >= currentPage - 2 && i <= currentPage + 2}"
                  th:classappend="${i == currentPage} ? 'active'"
                >
                  <a
                    class="page-link"
                    th:href="@{/admin/surat-tugas-asesor(page=${i}, keyword=${keyword})}"
                    th:text="${i + 1}"
                    >1</a
                  >
                </li>

                <li
                  class="page-item"
                  th:classappend="${currentPage == totalPages - 1} ? 'disabled'"
                >
                  <a
                    class="page-link"
                    th:href="@{/admin/surat-tugas-asesor(page=${currentPage + 1}, keyword=${keyword})}"
                    >&raquo;</a
                  >
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
