<!DOCTYPE html>
<html
  lang="en"
  xmlns:th="http://www.thymeleaf.org"
  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
  layout:decorate="~{layouts/app}"
>
  <head th:replace="~{fragments/header :: header('Detail Skema')}"></head>

  <body>
    <div layout:fragment="content">
      <div class="container-fluid">
        <form th:action="@{/}" method="post" id="form-buat-jadwal" novalidate>
          <div class="row">
            <div class="col-12">
              <div class="card card-blue-dark">
                <div class="card-header">
                  <h3 class="card-title">1. Datail Jadwal</h3>
                </div>
                <!-- /.card-header -->
                <!-- form start -->
                <div class="card-body">
                  <div class="form-group">
                    <label>Nama Jadwal</label>
                    <input
                      type="text"
                      class="form-control"
                      value="Sertifikasi Data Analyst"
                      disabled
                    />
                  </div>
                  <div class="form-group">
                    <label>Pilih TUK</label>
                    <input
                      type="text"
                      class="form-control"
                      value="PPKD Jakarta Selatan"
                      disabled
                    />
                  </div>
                  <div class="row">
                    <div class="col-6">
                      <div class="form-group">
                        <label>Kode Jadwal</label>
                        <input
                          type="text"
                          class="form-control"
                          value="JADWAL-LSPTDDI-001-2025"
                          disabled
                        />
                      </div>
                    </div>
                    <div class="col-6">
                      <div class="form-group">
                        <label for="kodeJadwalBnsp">Kode Jadwal BNSP</label>
                        <input
                          type="text"
                          class="form-control"
                          value="BNSP.UJK.202505050488"
                          disabled
                        />
                      </div>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-6">
                      <div class="form-group">
                        <label>Tanggal Sertifikasi</label>
                        <input
                          class="form-control"
                          value="15 Mei 2025"
                          disabled
                        />
                      </div>
                    </div>
                    <div class="col-6">
                      <div class="form-group">
                        <label for="kuota">Kuota Peserta</label>
                        <input class="form-control" value="25" disabled />
                      </div>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-6">
                      <div class="form-group">
                        <label for="sumberAnggaran">Sumber Anggaran</label>
                        <input class="form-control" value="APBN" disabled />
                      </div>
                    </div>
                    <div class="col-6">
                      <div class="form-group">
                        <label for="pemberiAnggaran">Pemberi Anggaran</label>
                        <input
                          class="form-control"
                          value="Kementrian Kominfo"
                          disabled
                        />
                      </div>
                    </div>
                  </div>
                </div>
                <!-- /.card-body -->
              </div>
              <!-- /.card -->
            </div>
          </div>
          <div class="row">
            <div class="col-12">
              <div class="card card-blue-dark">
                <div class="card-header">
                  <h3 class="card-title">2. Detail Penugasan</h3>
                </div>
                <!-- /.card-header -->
                <!-- form start -->
                <div class="card-body">
                  <div class="row">
                    <div class="form-group">
                      <label for="kodeJadwal">Detail Asesor:</label>
                      <div class="table-responsive">
                        <table
                          class="table table-valign-middle table-sm table-bordered nested-table"
                        >
                          <thead class="thead-light text-center">
                            <tr>
                              <th>No</th>
                              <th>No. MET</th>
                              <th>Nama Asesor</th>
                            </tr>
                          </thead>
                          <tbody>
                            <tr>
                              <td class="text-center">1</td>
                              <td>MET.000.002580.2024</td>
                              <td>Erlin Irosa</td>
                            </tr>
                            <tr>
                              <td class="text-center">2</td>
                              <td>MET.000.002584.2024</td>
                              <td>Sigit Mareta</td>
                            </tr>
                          </tbody>
                        </table>
                      </div>
                    </div>
                  </div>
                  <div class="row mt-4 pt-3 border-top">
                    <div class="row">
                      <div class="form-group">
                        <label for="kodeJadwal"
                          >Detail Unit Skema: <span>Data Analyst</span></label
                        >
                        <div class="table-responsive">
                          <table
                            class="table table-valign-middle table-sm table-bordered nested-table"
                          >
                            <thead class="thead-light text-center">
                              <tr>
                                <th>NO</th>
                                <th>KODE UNIT</th>
                                <th>KETERANGAN</th>
                              </tr>
                            </thead>
                            <tbody>
                              <tr>
                                <td>1</td>
                                <td>J.62DMS00.001.1</td>
                                <td>
                                  Mengidentifikasi Kebutuhan Pengelolaan Data
                                  untuk Proses Bisnis
                                </td>
                              </tr>
                              <tr>
                                <td>2</td>
                                <td>J.62DMS00.015.1</td>
                                <td>Membuat Business Intelligence</td>
                              </tr>
                              <tr>
                                <td>3</td>
                                <td>J.62DMI00.004.1</td>
                                <td>Mengumpulkan Data</td>
                              </tr>
                              <tr>
                                <td>4</td>
                                <td>J.62DMI00.005.1</td>
                                <td>Menelaah Data</td>
                              </tr>
                              <tr>
                                <td>5</td>
                                <td>J.62DMI00.006.1</td>
                                <td>Memvalidasi Data</td>
                              </tr>
                              <tr>
                                <td>6</td>
                                <td>J.62DMI00.007.1</td>
                                <td>Menentukan Objek Data</td>
                              </tr>
                              <tr>
                                <td>7</td>
                                <td>M.70BDA00.013.1</td>
                                <td>Menyusun Laporan Hasil Analisis</td>
                              </tr>
                            </tbody>
                          </table>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <!-- /.card-body -->
              </div>
              <!-- /.card -->
            </div>
          </div>

          <div class="card-footer mt-3 text-left">
            <button type="submit" class="btn btn-outline-warning">Edit</button>
            <a
              th:href="@{/admin/jadwal-sertifikasi}"
              class="btn btn-outline-info"
              >Batal</a
            >
          </div>
        </form>
      </div>
    </div>
  </body>
</html>
