<!DOCTYPE html>
<html
  lang="en"
  xmlns:th="http://www.thymeleaf.org"
  layout:decorate="~{layouts/app}"
>
  <head th:replace="~{fragments/header :: header('Detail Jadwal')}"></head>
  <body>
    <div layout:fragment="content">
      <div class="container-fluid">
        <form>
          <div class="card card-blue-dark">
            <div class="card-header">
              <h3 class="card-title">1. Detail Jadwal</h3>
            </div>
            <div class="card-body">
              <div class="row">
                <div class="col-md-6">
                  <div class="form-group">
                    <label>Nama Jadwal</label>
                    <input
                      type="text"
                      class="form-control"
                      th:value="${schedule.name}"
                      disabled
                    />
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="form-group">
                    <label>TUK</label>
                    <input
                      type="text"
                      class="form-control"
                      th:value="${schedule.tuk.name}"
                      disabled
                    />
                  </div>
                </div>
              </div>

              <div class="row">
                <div class="col-md-6">
                  <div class="form-group">
                    <label>Kode Jadwal</label>
                    <input
                      type="text"
                      class="form-control"
                      th:value="${schedule.code}"
                      disabled
                    />
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="form-group">
                    <label>Kode Jadwal BNSP</label>
                    <input
                      type="text"
                      class="form-control"
                      th:value="${schedule.bnspCode}"
                      disabled
                    />
                  </div>
                </div>
              </div>

              <div class="row">
                <div class="col-md-4">
                  <div class="form-group">
                    <label>Tanggal Sertifikasi</label>
                    <input
                      type="text"
                      class="form-control"
                      th:value="${#temporals.format(schedule.startDate, 'dd MMMM yyyy')}"
                      disabled
                    />
                  </div>
                </div>
                <div class="col-md-4">
                  <div class="form-group">
                    <label>Kuota Peserta</label>
                    <input
                      type="text"
                      class="form-control"
                      th:value="${schedule.quota + ' Orang'}"
                      disabled
                    />
                  </div>
                </div>
              </div>

              <div class="row">
                <div class="col-md-6">
                  <div class="form-group">
                    <label>Sumber Anggaran</label>
                    <input
                      type="text"
                      class="form-control"
                      th:value="${schedule.budgetSource != null ? schedule.budgetSource.name : '-'}"
                      disabled
                    />
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="form-group">
                    <label>Pemberi Anggaran</label>
                    <input
                      type="text"
                      class="form-control"
                      th:value="${schedule.budgetProvider != null ? schedule.budgetProvider.name : '-'}"
                      disabled
                    />
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="card card-blue-dark">
            <div class="card-header">
              <h3 class="card-title">2. Detail Penugasan</h3>
            </div>
            <div class="card-body">
              <label class="mb-2">Daftar Asesor Bertugas</label>
              <table class="table table-bordered table-striped table-sm mb-4">
                <thead class="bg-light text-center">
                  <tr>
                    <th style="width: 10%">No</th>
                    <th>Nama Asesor</th>
                    <th>No. MET</th>
                  </tr>
                </thead>
                <tbody>
                  <tr th:each="sa, stat : ${schedule.assessors}">
                    <td class="text-center" th:text="${stat.count}">1</td>
                    <td th:text="${sa.asesor.fullName}">Nama</td>
                    <td th:text="${sa.asesor.noMet}">MET</td>
                  </tr>
                  <tr th:if="${schedule.assessors.empty}">
                    <td colspan="3" class="text-center text-muted">
                      Tidak ada asesor.
                    </td>
                  </tr>
                </tbody>
              </table>

              <label class="mb-3">Daftar Skema</label>
              <table class="table table-bordered table-striped table-sm">
                <thead class="bg-light text-center">
                  <tr>
                    <th style="width: 10%">No</th>
                    <th>Nama Skema</th>
                  </tr>
                </thead>
                <tbody>
                  <tr th:each="ss, stat : ${schedule.schemas}">
                    <td class="text-center" th:text="${stat.count}">1</td>
                    <td th:text="${ss.schema.name}">Nama Skema</td>
                  </tr>
                  <tr th:if="${schedule.schemas.empty}">
                    <td colspan="2" class="text-center text-muted">
                      Tidak ada skema sertifikasi.
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>

            <div class="card-footer">
              <a
                th:href="@{'/admin/jadwal-sertifikasi/edit/' + ${schedule.id}}"
                class="btn btn-warning text-white"
              >
                <i class="fas fa-edit"></i> ubah Jadwal
              </a>
              <a
                th:href="@{/admin/jadwal-sertifikasi}"
                class="btn btn-secondary"
                >Kembali</a
              >
            </div>
          </div>
        </form>
      </div>
    </div>
  </body>
</html>
