<!DOCTYPE html>
<html
  lang="en"
  xmlns:th="http://www.thymeleaf.org"
  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
  layout:decorate="~{layouts/app}"
>
  <head th:replace="~{fragments/header :: header('Jadwal Asesmen')}"></head>

  <body>
    <div layout:fragment="page-title">
      <h1 class="m-0">Jadwal Sertifikasi</h1>
    </div>
    <div layout:fragment="breadcrumb">
      <ol class="breadcrumb float-sm-right">
        <li class="breadcrumb-item"><a href="#">Home</a></li>
        <li class="breadcrumb-item active">Jadwal Asesmen</li>
      </ol>
    </div>
    <div layout:fragment="content">
      <div class="card">
        <div class="card-header">
          <div
            class="d-flex flex-column-reverse flex-w flex-md-row justify-content-md-between align-items-md-center gap-2 mb-3"
          >
            <form
              th:action="@{/}"
              method=""
              class="d-flex"
              style="width: 100%; max-width: 450px"
            >
              <input
                type="text"
                name="keyword"
                class="form-control me-2"
                placeholder="Cari Skema"
                th:value="${keyword}"
                aria-label="Search"
              />
              <button type="submit" class="btn btn-outline-info">Cari</button>
              <a
                th:href="@{/}"
                class="btn btn-outline-danger ms-2"
                title="Reset Pencarian"
                >Reset</a
              >
            </form>

            <a
              th:href="@{/admin/jadwal-sertifikasi/jadwal-tambah}"
              class="btn btn-outline-primary"
            >
              <i class="fas fa-calendar-plus me-1"></i>Buat Jadwal
            </a>
          </div>
        </div>
        <!-- /.card-header -->
        <div class="card-body responsive">
          <table
            class="table table-bordered table-hover table-responsive"
          >
            <thead>
              <tr class="text-center">
                <th>No</th>
                <th>Detail Jadwal</th>
                <th>Asesor</th>
                <th>Skema</th>
                <th>Nama TUK</th>
                <th>Aksi</th>
              </tr>
            </thead>
            <tbody class="align-middle">
              <tr>
                <td>1</td>
                <td>
                  <div class="plan-profile">
                    <strong>Nama Jadwal</strong>
                    <p class="mb-3">Sertifikasi Digital Marketing</p>

                    <div class="plan-details">
                      <div class="jadwal-item">
                        <strong>Kode Jadwal</strong>
                        <strong>Kode Jadwal BNSP</strong>
                        <strong>Tanggal Asesmen</strong>
                        <!-- <span>TUK-LSPTDDI-001</span> -->
                      </div>

                      <div class="jadwal-item">
                        <!-- <strong>Tanggal Asesmen</strong> -->
                        <span>20250510-SKM01-UNBRAW</span>
                        <span>BNSP.UJK.202505050488</span>
                        <span>09 September 2025</span>
                      </div>
                    </div>
                  </div>
                </td>
                <td class="align-middle text-center">
                  <a
                    class="btn btn-primary btn-sm btn-expand"
                    data-target="#asesor-list"
                  >
                    <span>2</span>
                  </a>
                </td>
                <td class="align-middle text-center">Associate Data Science</td>
                <td class="align-middle">
                  Fakultas Ilmu Komputer Universitas Brawijaya
                </td>
                <td class="align-middle">
                  <div class="action-buttons">
                    <a
                      class="btn btn-outline-primary btn-sm"
                      th:href="@{/admin/jadwal-sertifikasi/jadwal-view}"
                      title="View"
                    >
                      <i class="fas fa-eye"> </i>
                    </a>
                    <a
                      class="btn btn-outline-info btn-sm"
                      th:href="@{/admin/skema/edit-skema}"
                      title="Edit"
                    >
                      <i class="fas fa-pencil-alt"> </i>
                    </a>
                    <a
                      class="btn btn-outline-danger btn-sm"
                      href="#"
                      title="Delete"
                    >
                      <i class="fas fa-trash"> </i>
                    </a>
                  </div>
                </td>
              </tr>
              <tr class="expandable-content-row" id="asesor-list">
                <td colspan="8">
                  <div class="expandable-content-wrapper">
                    <h5>Daftar Asesor Bertugas</h5>
                    <div class="table-responsive">
                      <table
                        class="table table-valign-middle table-sm table-bordered nested-table"
                      >
                        <thead class="thead-light text-center">
                          <tr>
                            <th>No</th>
                            <th>No. MET</th>
                            <th>Nama Asesor</th>
                            <th>Surat Tugas</th>
                          </tr>
                        </thead>
                        <tbody>
                          <tr>
                            <td class="text-center">1</td>
                            <td>MET.000.002580.2024</td>
                            <td>Erlin Irosa</td>
                            <td>
                              <a
                                th:href="@{/dist/doc/st_erlin.pdf}"
                                target="_blank"
                                >01/ST/LSPTDDI/V/2025</a
                              >
                            </td>
                          </tr>
                          <tr>
                            <td class="text-center">2</td>
                            <td>MET.000.002584.2024</td>
                            <td>Sigit Mareta</td>
                            <td>
                              <a
                                th:href="@{/dist/doc/st_sigit.pdf}"
                                target="_blank"
                                >02/ST/LSPTDDI/V/2025</a
                              >
                            </td>
                          </tr>
                        </tbody>
                      </table>
                    </div>
                  </div>
                </td>
              </tr>
            </tbody>
          </table>
        </div>

        <!-- /.card-body -->
        <div class="card-footer clearfix">
          <ul class="pagination pagination-sm m-0 float-right">
            <li class="page-item"><a class="page-link" href="#">&laquo;</a></li>
            <li class="page-item"><a class="page-link" href="#">1</a></li>
            <li class="page-item"><a class="page-link" href="#">2</a></li>
            <li class="page-item"><a class="page-link" href="#">3</a></li>
            <li class="page-item"><a class="page-link" href="#">&raquo;</a></li>
          </ul>
        </div>
      </div>
      <div
        class="modal fade"
        id="previewModal"
        tabindex="-1"
        role="dialog"
        aria-labelledby="previewModalLabel"
        aria-hidden="true"
      >
        <div class="modal-dialog modal-xl" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="previewModalLabel">
                Preview Dokumen Skema
              </h5>
              <button
                type="button"
                class="close"
                data-dismiss="modal"
                aria-label="Close"
              >
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
              <iframe
                id="pdf-viewer"
                src="about:blank"
                frameborder="0"
                style="width: 100%; height: 75vh"
              ></iframe>
            </div>
            <div class="modal-footer">
              <button
                type="button"
                class="btn btn-secondary"
                data-dismiss="modal"
              >
                Tutup
              </button>
            </div>
          </div>
        </div>
      </div>
      <!-- /.modal -->
    </div>
  </body>
</html>
