<!DOCTYPE html>
<html
  lang="en"
  xmlns:th="http://www.thymeleaf.org"
  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
  layout:decorate="~{layouts/app}"
>
  <head th:replace="~{fragments/header :: header('Buat Jadwal')}"></head>

  <body>
    <div layout:fragment="page-title">
      <h1 class="m-0">Buat Jadwal</h1>
    </div>
    <div layout:fragment="content">
      <div class="container-fluid">
        <form th:action="@{/}" method="post" id="form-buat-jadwal" novalidate>
          <div class="row">
            <div class="col-12">
              <div class="card card-blue-dark">
                <div class="card-header">
                  <h3 class="card-title">1. Datail Jadwal</h3>
                </div>
                <!-- /.card-header -->
                <!-- form start -->
                <div class="card-body">
                  <div class="form-group">
                    <label for="namaJadwal">Nama Jadwal</label>
                    <input
                      type="text"
                      class="form-control"
                      id="namaJadwal"
                      placeholder=""
                      required
                    />
                  </div>
                  <div class="form-group">
                    <label for="pilihTUK">Pilih TUK</label>
                    <select
                      class="form-control select2"
                      style="width: 100%"
                      required
                      id="pilihTUK"
                    >
                      <option value="" disabled selected></option>
                      <option value="">PPKD Jakarta Utara</option>
                      <option value="">PPKD Jakarta Selatan</option>
                      <option value="">Universitas Brawijaya Malang</option>
                    </select>
                  </div>
                  <div class="row">
                    <div class="col-md-6">
                      <div class="form-group">
                        <label for="kodeJadwal">Kode Jadwal</label>
                        <input
                          type="text"
                          class="form-control"
                          id="kodeJadwal"
                          value="JADWAL-LSPTDDI-001-2025"
                          placeholder=""
                          disabled
                        />
                      </div>
                    </div>
                    <div class="col-md-6">
                      <div class="form-group">
                        <label for="kodeJadwalBnsp">Kode Jadwal BNSP</label>
                        <input
                          type="text"
                          class="form-control"
                          id="kodeJadwalBnsp"
                          placeholder=""
                          required
                        />
                      </div>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-6">
                      <div class="form-group">
                        <label>Tanggal Sertifikasi</label>
                        <div
                          class="input-group date"
                          id="reservationdate"
                          data-target-input="nearest"
                        >
                          <input
                            type="text"
                            required
                            class="form-control datetimepicker-input"
                            id="tanggal_sertifikasi"
                            data-target="#reservationdate"
                          />

                          <div
                            class="input-group-append"
                            data-target="#reservationdate"
                            data-toggle="datetimepicker"
                          >
                            <div class="input-group-text">
                              <i class="fa fa-calendar"></i>
                            </div>
                          </div>
                          <div class="invalid-feedback">
                            Tanggal Penetapan Tidak Boleh Kosong!
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="col-6">
                      <div class="form-group">
                        <label for="kuota">Kuota Peserta</label>
                        <input
                          type="number"
                          class="form-control"
                          id="kuota"
                          placeholder=""
                          required
                        />
                      </div>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-md-6">
                      <div class="form-group">
                        <label for="sumberAnggaran">Sumber Anggaran</label>
                        <select
                          class="form-control select2"
                          style="width: 100%"
                          required
                          id="sumberAnggaran"
                        >
                          <option value="" disabled selected></option>
                          <option value="">APBN</option>
                          <option value="">APBD</option>
                          <option value="">Biaya MANDIRI</option>
                        </select>
                      </div>
                    </div>
                    <div class="col-md-6">
                      <div class="form-group">
                        <label for="pemberiAnggaran">Pemberi Anggaran</label>
                        <select
                          class="form-control select2"
                          style="width: 100%"
                          required
                          id="pemberiAnggaran"
                        >
                          <option value="" disabled selected></option>
                          <option value="">Kementerian</option>
                          <option value="">Biaya Mandiri</option>
                        </select>
                      </div>
                    </div>
                  </div>
                </div>
                <!-- /.card-body -->
              </div>
              <!-- /.card -->
            </div>
          </div>

          <div class="row">
            <div class="col-12">
              <div class="card card-blue-dark">
                <div class="card-header">
                  <h3 class="card-title">2. Detail Penugasan</h3>
                </div>
                <!-- /.card-header -->
                <!-- form start -->
                <div class="card-body">
                  <div class="row">
                    <label for="pilihAsesor">Pilih Asesor:</label>
                    <div class="row mb-2 align-items-center">
                      <div class="col-10">
                        <div class="form-group mb-0">
                          <select
                            class="form-control select2"
                            style="width: 100%"
                            required
                            id="pilihAsesor"
                          >
                            <option value="" disabled selected></option>
                            <option value="asesor1">Sigit Mareta</option>
                            <option value="asesor2">Setyawati</option>
                            <option value="asesor3">Haryo Mirsandi</option>
                          </select>
                          <div class="invalid-feedback"></div>
                        </div>
                      </div>
                      <div class="col-2">
                        <button class="btn btn-outline-info">
                          Pilih Asesor
                        </button>
                      </div>
                    </div>

                    <div class="row">
                      <label for="kodeJadwal">Detail Asesor:</label>
                      <div class="table-responsive">
                        <table
                          class="table table-valign-middle table-sm table-bordered nested-table"
                        >
                          <thead class="thead-light text-center">
                            <tr>
                              <th>No</th>
                              <th>No. MET</th>
                              <th>Nama Asesor</th>
                              <th>Aksi</th>
                            </tr>
                          </thead>
                          <tbody>
                            <tr>
                              <td class="text-center">1</td>
                              <td>MET.000.002580.2024</td>
                              <td>Erlin Irosa</td>
                              <td class="align-middle">
                                <div class="action-buttons">
                                  <a
                                    class="btn btn-outline-danger btn-sm"
                                    href="#"
                                    title="Delete"
                                  >
                                    <i class="fas fa-trash"> </i>
                                  </a>
                                </div>
                              </td>
                            </tr>
                            <tr>
                              <td class="text-center">2</td>
                              <td>MET.000.002584.2024</td>
                              <td>Sigit Mareta</td>
                              <td class="align-middle">
                                <div class="action-buttons">
                                  <a
                                    class="btn btn-outline-danger btn-sm"
                                    href="#"
                                    title="Delete"
                                  >
                                    <i class="fas fa-trash"> </i>
                                  </a>
                                </div>
                              </td>
                            </tr>
                          </tbody>
                        </table>
                      </div>
                    </div>
                  </div>
                  <div class="row mt-4 pt-3 border-top">
                    <label for="pilihSkema">Pilih Skema</label>
                    <div class="row mb-2 align-items-center">
                      <div class="col-10 align-items-center">
                        <div class="form-group mb-0">
                          <select
                            class="form-control select2"
                            style="width: 100%"
                            required
                            id="pilihSkema"
                          >
                            <option value="" disabled selected></option>
                            <option value="">Data Analyst</option>
                            <option value="">Digital Marketing</option>
                            <option value="">Data Scientist</option>
                          </select>
                        </div>
                      </div>
                      <div class="col-2">
                        <button class="btn btn-outline-info">
                          Pilih Skema
                        </button>
                      </div>
                    </div>

                    <div class="row">
                      <div class="form-group">
                        <label for="kodeJadwal"
                          >Detail Unit Skema: <span>Data Analyst</span></label
                        >
                        <div class="table-responsive">
                          <table
                            class="table table-valign-middle table-sm table-bordered nested-table"
                          >
                            <thead class="thead-light text-center">
                              <tr>
                                <th>NO</th>
                                <th>KODE UNIT</th>
                                <th>KETERANGAN</th>
                              </tr>
                            </thead>
                            <tbody>
                              <tr>
                                <td>1</td>
                                <td>J.62DMS00.001.1</td>
                                <td>
                                  Mengidentifikasi Kebutuhan Pengelolaan Data
                                  untuk Proses Bisnis
                                </td>
                              </tr>
                              <tr>
                                <td>2</td>
                                <td>J.62DMS00.015.1</td>
                                <td>Membuat Business Intelligence</td>
                              </tr>
                              <tr>
                                <td>3</td>
                                <td>J.62DMI00.004.1</td>
                                <td>Mengumpulkan Data</td>
                              </tr>
                              <tr>
                                <td>4</td>
                                <td>J.62DMI00.005.1</td>
                                <td>Menelaah Data</td>
                              </tr>
                              <tr>
                                <td>5</td>
                                <td>J.62DMI00.006.1</td>
                                <td>Memvalidasi Data</td>
                              </tr>
                              <tr>
                                <td>6</td>
                                <td>J.62DMI00.007.1</td>
                                <td>Menentukan Objek Data</td>
                              </tr>
                              <tr>
                                <td>7</td>
                                <td>M.70BDA00.013.1</td>
                                <td>Menyusun Laporan Hasil Analisis</td>
                              </tr>
                            </tbody>
                          </table>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <!-- /.card-body -->
              </div>
              <!-- /.card -->
            </div>
          </div>

          <div class="card-footer mt-3 text-left">
            <button type="submit" class="btn btn-outline-warning">
              Simpan
            </button>
            <a
              th:href="@{/admin/jadwal-sertifikasi}"
              class="btn btn-outline-info"
              >Batal</a
            >
          </div>
        </form>
      </div>
    </div>
  </body>
</html>
