<!DOCTYPE html>
<html
  lang="en"
  xmlns:th="http://www.thymeleaf.org"
  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
  layout:decorate="~{layouts/app}"
>
  <head th:replace="~{fragments/header :: header('Detail Pengguna')}"></head>

  <body>
    <div layout:fragment="content">
      <div class="container-fluid">
        <div class="card card-primary card-outline">
          <div class="card-body box-profile">
            <div class="text-center">
              <img
                class="profile-user-img img-fluid img-circle"
                th:src="@{/dist/img/user2-160x160.jpg}"
                alt="User profile picture"
                style="width: 100px"
              />
            </div>
            <h3 class="profile-username text-center" th:text="${user.fullName}">
              Nama User
            </h3>

            <div class="text-center mb-3">
              <span
                class="badge"
                th:classappend="${viewRole == 'Admin' ? 'badge-danger' : (viewRole == 'Asesor' ? 'badge-info' : 'badge-success')}"
                style="font-size: 1.1rem; padding: 8px 15px"
              >
                <i class="fas fa-user-tag"></i>
                <span th:text="${viewRole}">ROLE</span>
              </span>
            </div>
          </div>
        </div>

        <form>
          <div class="card card-info">
            <div class="card-header">
              <h3 class="card-title">1. Data Akun</h3>
            </div>
            <div class="card-body">
              <div class="row">
                <div class="col-md-6">
                  <div class="form-group">
                    <label>Username</label>
                    <input
                      type="text"
                      class="form-control"
                      th:value="${user.username}"
                      disabled
                    />
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="form-group">
                    <label>Email</label>
                    <input
                      type="text"
                      class="form-control"
                      th:value="${user.email}"
                      disabled
                    />
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="card card-primary">
            <div class="card-header">
              <h3 class="card-title">2. Data Pribadi</h3>
            </div>
            <div class="card-body">
              <div class="row">
                <div class="col-md-6">
                  <div class="form-group">
                    <label>Nama Lengkap</label>
                    <input
                      type="text"
                      class="form-control"
                      th:value="${user.fullName}"
                      disabled
                    />
                  </div>
                </div>
                <div class="col-md-3">
                  <div class="form-group">
                    <label>Tempat Lahir</label>
                    <input
                      type="text"
                      class="form-control"
                      th:value="${user.birthPlace}"
                      disabled
                    />
                  </div>
                </div>
                <div class="col-md-3">
                  <div class="form-group">
                    <label>Tanggal Lahir</label>
                    <input
                      type="text"
                      class="form-control"
                      th:value="${user.birthDate}"
                      disabled
                    />
                  </div>
                </div>
                <div class="col-md-4">
                  <div class="form-group">
                    <label>Jenis Kelamin</label>
                    <input
                      type="text"
                      class="form-control"
                      th:value="${user.gender == 'L' ? 'Laki-laki' : 'Perempuan'}"
                      disabled
                    />
                  </div>
                </div>
                <div class="col-md-4">
                  <div class="form-group">
                    <label>NIK</label>
                    <input
                      type="text"
                      class="form-control"
                      th:value="${user.nik}"
                      disabled
                    />
                  </div>
                </div>

                <div
                  class="col-md-4"
                  th:if="${viewRole == 'Asesi' or viewRole == 'Asesor'}"
                >
                  <div class="form-group">
                    <label>Pendidikan Terakhir</label>

                    <input
                      type="text"
                      class="form-control"
                      th:value="${user.educationId != null ? user.educationId.name : '-'}"
                      disabled
                    />
                  </div>
                </div>

                <div class="col-md-4" th:if="${viewRole == 'Asesi'}">
                  <div class="form-group">
                    <label>Kewarganegaraan</label>
                    <input
                      type="text"
                      class="form-control"
                      th:value="${user.citizenship}"
                      disabled
                    />
                  </div>
                </div>

                <div class="col-md-4" th:if="${viewRole == 'Asesor'}">
                  <div class="form-group">
                    <label>No. MET</label>
                    <input
                      type="text"
                      class="form-control"
                      th:value="${user.noMet}"
                      disabled
                    />
                  </div>
                </div>

                <div
                  class="col-md-4"
                  th:if="${viewRole == 'Asesi' or viewRole == 'Asesor'}"
                >
                  <div class="form-group">
                    <label>No Telepon</label>
                    <input
                      type="text"
                      class="form-control"
                      th:value="${user.phoneNumber}"
                      disabled
                    />
                  </div>
                </div>
              </div>

              <div class="row" th:if="${viewRole == 'Asesi'}">
                <div class="col-md-4">
                  <div class="form-group">
                    <label>Provinsi</label>
                    <input
                      type="text"
                      class="form-control"
                      id="viewProv"
                      th:data-id="${user.provinceId}"
                      value="Loading..."
                      disabled
                    />
                  </div>
                </div>
                <div class="col-md-4">
                  <div class="form-group">
                    <label>Kota/Kabupaten</label>
                    <input
                      type="text"
                      class="form-control"
                      id="viewCity"
                      th:data-id="${user.cityId}"
                      value="Loading..."
                      disabled
                    />
                  </div>
                </div>
                <div class="col-md-4">
                  <div class="form-group">
                    <label>Kecamatan</label>
                    <input
                      type="text"
                      class="form-control"
                      id="viewDist"
                      th:data-id="${user.districtId}"
                      value="Loading..."
                      disabled
                    />
                  </div>
                </div>
              </div>

              <div class="row mt-2">
                <div class="col-md-12">
                  <div class="form-group">
                    <label>Alamat Jalan</label>
                    <textarea
                      class="form-control"
                      rows="2"
                      disabled
                      th:text="${user.address}"
                    ></textarea>
                  </div>
                </div>
              </div>

              <div class="row mt-4">
                <div class="col-md-4" th:if="${viewRole == 'Asesi'}">
                  <div class="form-group">
                    <label>Kode Pos</label>
                    <input
                      type="text"
                      class="form-control"
                      th:value="${user.postalCode}"
                      disabled
                    />
                  </div>
                </div>
                <div class="col-md-4">
                  <div class="form-group">
                    <label
                      >Tanda Tangan<span class="text-danger">*</span></label
                    >
                    <button
                      type="button"
                      class="btn btn-outline-primary btn-block"
                      data-toggle="modal"
                      data-target="#modalSignatureView"
                    >
                      <i class="fas fa-signature"></i> Lihat Tanda Tangan
                    </button>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div
            class="card card-success"
            th:if="${viewRole == 'Asesi' or viewRole == 'Asesor'}"
          >
            <div class="card-header">
              <h3 class="card-title">3. Data Pekerjaan</h3>
            </div>
            <div class="card-body">
              <div class="row">
                <div class="col-md-12">
                  <div class="form-group">
                    <label>Jenis Pekerjaan</label>
                    <input
                      type="text"
                      class="form-control"
                      th:value="${user.jobTypeId != null ? user.jobTypeId.name : '-'}"
                      disabled
                    />
                  </div>
                </div>
              </div>

              <div
                th:if="${viewRole == 'Asesi' and user.jobTypeId != null and user.jobTypeId.id != 1}"
              >
                <hr />
                <h6 class="text-primary font-weight-bold">
                  <i class="fas fa-building"></i> Detail Instansi
                </h6>
                <div class="row mt-3">
                  <div class="col-md-6">
                    <div class="form-group">
                      <label>Nama Instansi</label>
                      <input
                        type="text"
                        class="form-control"
                        th:value="${user.companyName}"
                        disabled
                      />
                    </div>
                  </div>
                  <div class="col-md-6">
                    <div class="form-group">
                      <label>Jabatan</label>
                      <input
                        type="text"
                        class="form-control"
                        th:value="${user.position != null ? user.position : '-'}"
                        disabled
                      />
                    </div>
                  </div>
                  <div class="col-md-4">
                    <div class="form-group">
                      <label>Email Kantor</label>
                      <input
                        type="text"
                        class="form-control"
                        th:value="${user.officeEmail != null ? user.position : '-'}"
                        disabled
                      />
                    </div>
                  </div>
                  <div class="col-md-4">
                    <div class="form-group">
                      <label>Telp Kantor</label>
                      <input
                        type="text"
                        class="form-control"
                        th:value="${user.officePhone != null ? user.position : '-'}"
                        disabled
                      />
                    </div>
                  </div>
                  <div class="col-md-4">
                    <div class="form-group">
                      <label>Fax</label>
                      <input
                        type="text"
                        class="form-control"
                        th:value="${user.officeFax != null ? user.position : '-'}"
                        disabled
                      />
                    </div>
                  </div>
                  <div class="col-md-12">
                    <div class="form-group">
                      <label>Alamat Kantor</label>
                      <textarea
                        class="form-control"
                        rows="2"
                        disabled
                        th:text="${user.officeAddress != null ? user.position : '-'}"
                      ></textarea>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </form>
      </div>

      <div
        class="modal fade"
        id="modalSignatureView"
        tabindex="-1"
        aria-hidden="true"
      >
        <div class="modal-dialog modal-dialog-centered">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title">Tanda Tangan Pengguna</h5>
              <button
                type="button"
                class="close"
                data-dismiss="modal"
                aria-label="Close"
              >
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body text-center bg-light">
              <img
                th:if="${user.signatureBase64 != null && user.signatureBase64 != ''}"
                th:src="${user.signatureBase64}"
                style="
                  max-width: 100%;
                  border: 1px dashed #ccc;
                  background: white;
                "
                alt="Signature"
              />

              <p
                th:unless="${user.signatureBase64 != null && user.signatureBase64 != ''}"
                class="text-muted mt-3"
              >
                <i class="fas fa-exclamation-circle"></i> Belum ada tanda
                tangan.
              </p>
            </div>
            <div class="modal-footer">
              <button
                type="button"
                class="btn btn-secondary"
                data-dismiss="modal"
              >
                Tutup
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
