<!DOCTYPE html>
<html
  lang="en"
  xmlns:th="http://www.thymeleaf.org"
  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
  layout:decorate="~{layouts/app}"
>
  <head th:replace="~{fragments/header :: header('Edit Pengguna')}"></head>

  <body>
    <div layout:fragment="content">
      <div class="container-fluid">
        <div class="card card-outline card-warning">
          <form
            id="formEditUser"
            th:action="@{/admin/users/update}"
            method="post"
          >
            <input type="hidden" name="id" th:value="${user.id}" />

            <div class="card-body">
              <h5 class="text-primary mb-3">
                <i class="fas fa-user-shield"></i> Data Akun
              </h5>
              <hr />
              <div class="row">
                <div class="col-md-4">
                  <div class="form-group">
                    <label>Username <span class="text-danger">*</span></label>
                    <input
                      type="text"
                      class="form-control"
                      name="username"
                      th:value="${user.username}"
                      required
                    />
                  </div>
                </div>
                <div class="col-md-4">
                  <div class="form-group">
                    <label>Email <span class="text-danger">*</span></label>
                    <input
                      type="email"
                      class="form-control"
                      name="email"
                      th:value="${user.email}"
                      required
                    />
                  </div>
                </div>
                <div class="col-md-4">
                  <div class="form-group">
                    <label>Role <span class="text-danger">*</span></label>

                    <select
                      class="select2"
                      multiple="multiple"
                      id="roleSelect"
                      name="roles"
                      th:data-current-roles="${#strings.listJoin(user.roles.![name], ',')}"
                      required
                      style="width: 100%"
                    >
                      <option value="Admin">Admin</option>
                      <option value="Asesi">Asesi</option>
                      <option value="Asesor">Asesor</option>
                    </select>
                  </div>
                </div>

                <div class="col-md-12">
                  <div class="alert alert-light border py-2 small text-muted">
                    <i class="fas fa-info-circle"></i> Biarkan kosong jika tidak
                    ingin mengubah password.
                  </div>
                  <div class="form-group">
                    <label>Password Baru</label>
                    <input
                      type="password"
                      class="form-control"
                      name="password"
                      placeholder="********"
                    />
                  </div>
                </div>
              </div>

              <div id="wrapperDataPribadi" style="display: none"></div>
              <div id="sectionDataPekerjaan" style="display: none"></div>
            </div>

            <div class="card-footer text-right">
              <a href="/admin/data-pengguna" class="btn btn-default mr-2"
                >Batal</a
              >
              <button type="submit" class="btn btn-warning">
                <i class="fas fa-save"></i> Simpan Perubahan
              </button>
            </div>
          </form>
        </div>
      </div>
      <div th:replace="~{pages/admin/users-add :: #modalSignature}"></div>
    </div>
  </body>
</html>
