<!DOCTYPE html>
<html
  lang="en"
  xmlns:th="http://www.thymeleaf.org"
  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
  layout:decorate="~{layouts/app}"
>
  <head th:replace="~{fragments/header :: header('Detail Pengguna')}"></head>

  <body>
    <div layout:fragment="content">
      <div class="container-fluid">
        <form th:action="@{/}" method="post" id="form-buat-jadwal" novalidate>
          <div class="row">
            <div class="col-12">
              <div class="card card-blue-dark">
                <div class="card-header">
                  <h3 class="card-title">1. Data Akun</h3>
                </div>
                <!-- /.card-header -->
                <!-- form start -->

                <div class="card-body">
                  <div class="row">
                    <div class="col-md-4">
                      <div class="form-group">
                        <label
                          >Username <span class="text-danger">*</span></label
                        >
                        <input
                          type="text"
                          th:value="${user.username}"
                          class="form-control"
                          disabled
                        />
                      </div>
                    </div>
                    <div class="col-md-4">
                      <div class="form-group">
                        <label>Email <span class="text-danger">*</span></label>
                        <input
                          type="email"
                          th:value="${user.email}"
                          class="form-control"
                          disabled
                        />
                      </div>
                    </div>
                    <div class="col-md-4">
                      <div class="form-group">
                        <label>Role <span class="text-danger">*</span></label>
                      </div>
                    </div>
                  </div>
                </div>

                <!-- /.card-body -->
              </div>
              <!-- /.card -->
            </div>
          </div>

          <div class="card-footer mt-3 text-left">
            <button type="submit" class="btn btn-outline-warning">Edit</button>
            <a th:href="@{/admin/data-pengguna}" class="btn btn-outline-info"
              >Batal</a
            >
          </div>
        </form>
      </div>
    </div>
  </body>
</html>
