<!DOCTYPE html>
<html
  lang="en"
  xmlns:th="http://www.thymeleaf.org"
  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
  layout:decorate="~{layouts/app}"
>
  <head th:replace="~{fragments/header :: header('Berkas Asesi')}"></head>

  <body>
    <div layout:fragment="page-title">
      <h1 class="m-0">Detail Jadwal & List Asesi</h1>
    </div>
    <div layout:fragment="breadcrumb">
      <ol class="breadcrumb float-sm-right">
        <li class="breadcrumb-item"><a href="#">Home</a></li>
        <li class="breadcrumb-item">
          <a th:href="@{/asesor/jadwal}">Penugasan</a>
        </li>
        <li class="breadcrumb-item active">Detail</li>
      </ol>
    </div>

    <div layout:fragment="content">
      <div class="card">
        <div class="card-header">
          <h3 class="card-title font-weight-bold">Daftar Peserta (Asesi)</h3>
        </div>

        <div class="card-body table-responsive p-0">
          <table
            class="table table-hover text-nowrap table-bordered table-valign-middle"
          >
            <thead class="bg-light text-center">
              <tr>
                <th rowspan="2">No</th>
                <th rowspan="2">Nama Asesi</th>
                <th colspan="2">Rekomendasi</th>
                <th rowspan="2">Bukti Asesi</th>
              </tr>
              <tr>
                <th>K</th>
                <th>BK</th>
              </tr>
            </thead>
            <tbody>
              <th:block th:each="p, iter : ${listAsesi}">
                <tr>
                  <td th:text="${iter.count}">1</td>
                  <td th:text="${p.asesi.fullName}">Nama Peserta</td>

                  <td class="text-center align-middle">
                    <input
                      type="radio"
                      th:name="'rekomendasi_' + ${p.id}"
                      value="K"
                    />
                  </td>
                  <td class="text-center align-middle">
                    <input
                      type="radio"
                      th:name="'rekomendasi_' + ${p.id}"
                      value="BK"
                    />
                  </td>

                  <td class="text-center">
                    <a href="#" class="btn btn-sm btn-info">
                      <i class="fas fa-folder-open"></i> Buka Berkas
                    </a>
                  </td>
                </tr>
              </th:block>

              <tr th:if="${#lists.isEmpty(listAsesi)}">
                <td colspan="5" class="text-center text-muted py-4">
                  Belum ada asesi yang ditugaskan pada jadwal ini.
                </td>
              </tr>
            </tbody>
          </table>
        </div>

        <div class="card-footer">
          <a th:href="@{/asesor/jadwal}" class="btn btn-default">Kembali</a>
        </div>
      </div>
    </div>
  </body>
</html>
