<aside
  class="main-sidebar main-sidebar-custom sidebar-dark-dark elevation-4"
  th:fragment="sidebar"
>
  <a href="#" class="brand-link text-bg-blue-dark d-flex align-items-center">
    <img
      th:src="@{/dist/img/logoLSP.png}"
      alt="AdminLTE Logo"
      class="brand-image"
      style="opacity: 1"
    />
    <span class="brand-text font-bold-light">SILSP</span>
  </a>

  <div class="sidebar">
    <div class="user-panel mt-3 pb-3 mb-3 d-flex">
      <div class="image">
        <img
          th:src="${user.avatar != null && !user.avatar.isEmpty() ? user.avatar : '/dist/img/avatar5.png'}"
          class="img-circle elevation-2"
          alt="User Image"
          style="width: 34px; height: 34px; object-fit: cover"
        />
      </div>
      <div class="info">
        <!-- <a
          href="#"
          class="d-block"
          th:text="${user != null ? user.fullName : 'Guest'}"
          >Nama User</a
        > -->

        <a
          href="#"
          class="d-block badge badge-success mt-1"
          th:text="${currentRole}"
          >Role Aktif</a
        >
      </div>
    </div>

    <nav class="mt-2">
      <ul
        class="nav nav-pills nav-sidebar flex-column"
        data-widget="treeview"
        role="menu"
        data-accordion="false"
      >
        <th:block th:if="${currentRole == 'Admin'}">
          <li class="nav-item">
            <a th:href="@{/admin/dashboard}" class="nav-link">
              <i class="nav-icon fas fa-home"></i>
              <p>Dashboard</p>
            </a>
          </li>
          <li class="nav-header">Managemen Tugas</li>
          <li class="nav-item">
            <a th:href="@{/admin/skema}" class="nav-link">
              <i class="nav-icon fas fa-list-alt"></i>
              <p>Skema</p>
            </a>
          </li>
          <li class="nav-item">
            <a th:href="@{/admin/tuk}" class="nav-link">
              <i class="nav-icon fas fa-building"></i>
              <p>TUK</p>
            </a>
          </li>
          <li class="nav-item">
            <a th:href="@{/admin/jadwal-sertifikasi}" class="nav-link">
              <i class="nav-icon fas fa-calendar-plus"></i>
              <p>Jadwal Sertifikasi</p>
            </a>
          </li>
          <li class="nav-item">
            <a th:href="@{/admin/surat-tugas-asesor}" class="nav-link">
              <i class="nav-icon fas fa-file-alt"></i>
              <p>Surat Tugas</p>
            </a>
          </li>
          <!-- <li class="nav-item" th:each="item : ${menuItems}">
            <a
              th:href="@{${item.url}}"
              class="nav-link"
              th:classappend="${#httpServletRequest.getRequestURI() == item.url} ? 'active' : ''"
            >
              <i class="nav-icon" th:classappend="${item.icon}"></i>
              <p th:text="${item.label}">Dashboard</p>
            </a>
          </li> -->
          <li class="nav-header">Database Users</li>
          <li class="nav-item">
            <a th:href="@{/admin/data-pengguna}" class="nav-link">
              <i class="nav-icon fas fa-users-cog"></i>
              <p>Data Pengguna</p>
            </a>
          </li>
          <li class="nav-item">
            <a th:href="@{/admin/data-asesi}" class="nav-link">
              <i class="nav-icon fas fa-users"></i>
              <p>Data Asesi</p>
            </a>
          </li>
          <li class="nav-item">
            <a th:href="@{/admin/asesors}" class="nav-link">
              <i class="nav-icon fas fa-user-tie"></i>
              <p>Data Asesor</p>
            </a>
          </li>
        </th:block>

        <th:block th:if="${currentRole == 'Asesi'}">
          <li class="nav-header">ASESI</li>
          <li class="nav-item">
            <a th:href="@{/asesi/dashboard}" class="nav-link">
              <i class="nav-icon fas fa-home"></i>
              <p>Dashboard</p>
            </a>
          </li>
          <li class="nav-item">
            <a th:href="@{/asesi/daftar-sertifikasi}" class="nav-link">
              <i class="nav-icon fas fa-file-signature"></i>
              <p>Daftar Sertifikasi</p>
            </a>
          </li>
        </th:block>

        <th:block th:if="${currentRole == 'Asesor'}">
          <li class="nav-header">ASESOR</li>
          <li class="nav-item">
            <a th:href="@{/asesor/dashboard}" class="nav-link">
              <i class="nav-icon fas fa-home"></i>
              <p>Dashboard</p>
            </a>
          </li>
          <li class="nav-item">
            <a th:href="@{/asesor/surat-tugas}" class="nav-link">
              <i class="nav-icon fas fa-envelope-open-text"></i>
              <p>Surat Tugas</p>
            </a>
          </li>
        </th:block>

        <!-- <li class="nav-header">PENGATURAN</li>

        <li class="nav-item">
          <a th:href="@{/switch-role}" class="nav-link bg-warning text-dark">
            <i class="nav-icon fas fa-exchange-alt"></i>
            <p>Ganti Peran / Role</p>
          </a>
        </li> -->

        <li class="nav-item">
          <form th:action="@{/logout}" method="post" class="d-inline">
            <button
              type="submit"
              class="nav-link btn btn-link text-left text-danger"
            >
              <i class="nav-icon fas fa-sign-out-alt"></i>
              <p>Keluar</p>
            </button>
          </form>
        </li>
      </ul>
    </nav>
  </div>
</aside>
