<!DOCTYPE html>
<html
  lang="en"
  xmlns:th="http://www.thymeleaf.org"
  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
  layout:decorate="~{layouts/app}"
>
  <head th:replace="~{fragments/header :: header('Tambah Skema')}"></head>

  <body>
    <div layout:fragment="content">
      <div class="container-fluid">
        <div class="row">
          <div class="col-12">
            <div class="card card-secondary card-tabs">
              <div class="card-header p-0 pt-1">
                <ul class="nav nav-tabs" id="skema-tab" role="tablist">
                  <li class="nav-item">
                    <a
                      class="nav-link active"
                      id="skema-sertifikasi-tab"
                      data-toggle="pill"
                      href="#skema-sertifikasi"
                      role="tab"
                      aria-controls="skema-sertifikasi"
                      aria-selected="true"
                      >1. Skema Sertifikasi</a
                    >
                  </li>
                  <li class="nav-item">
                    <a
                      class="nav-link"
                      id="unit-skema-tab"
                      data-toggle="pill"
                      href="#unit-skema"
                      role="tab"
                      aria-controls="unit-skema"
                      aria-selected="false"
                      >2. Unit Skema</a
                    >
                  </li>
                  <li class="nav-item">
                    <a
                      class="nav-link"
                      id="unit-elemen-tab"
                      data-toggle="pill"
                      href="#unit-elemen"
                      role="tab"
                      aria-controls="unit-elemen"
                      aria-selected="false"
                      >3. Elemen</a
                    >
                  </li>
                  <li class="nav-item">
                    <a
                      class="nav-link"
                      id="kuk-tab"
                      data-toggle="pill"
                      href="#kuk"
                      role="tab"
                      aria-controls="kuk"
                      aria-selected="false"
                      >4. Kriteria Untuk Kerja</a
                    >
                  </li>
                  <li class="nav-item">
                    <a
                      class="nav-link"
                      id="persyaratan-tab"
                      data-toggle="pill"
                      href="#tab-persyaratan"
                      role="tab"
                      aria-controls="content-tab-persyaratan"
                      aria-selected="false"
                    >
                      5. Persyaratan Dasar
                    </a>
                  </li>
                </ul>
              </div>

              <div class="card-body">
                <form
                  id="form-tambah-skema"
                  th:action="@{/admin/skema/save}"
                  method="post"
                  enctype="multipart/form-data"
                  novalidate
                >
                  <div class="tab-content" id="skema-tabContent">
                    <div
                      class="tab-pane fade show active"
                      id="skema-sertifikasi"
                      role="tabpanel"
                      aria-labelledby="skema-sertifikasi-tab"
                    >
                      <div class="row">
                        <div class="col-12 text-right">
                          <button
                            type="button"
                            class="btn btn-primary next-tab"
                            data-target-tab="unit-skema-tab"
                          >
                            Selanjutnya <i class="fas fa-arrow-right"></i>
                          </button>
                        </div>
                      </div>

                      <div class="row">
                        <div class="col-md-12">
                          <div class="form-group">
                            <label for="namaSkema">Nama Skema</label>
                            <input
                              type="text"
                              required
                              class="form-control"
                              id="namaSkema"
                              name="namaSkema"
                              placeholder="Masukkan nama skema"
                              autofocus
                            />
                            <div class="invalid-feedback">
                              Nama Skema Tidak Boleh Kosong!
                            </div>
                          </div>
                        </div>
                      </div>

                      <div class="row">
                        <div class="col-md-3">
                          <div class="form-group">
                            <label for="kodeSkema">Kode Skema</label>
                            <input
                              type="text"
                              required
                              class="form-control"
                              id="kodeSkema"
                              name="kodeSkema"
                              placeholder="Contoh: SKM-001"
                            />
                            <div class="invalid-feedback">
                              Kode Skema Tidak Boleh Kosong!
                            </div>
                          </div>
                        </div>
                        <div class="col-md-3">
                          <div class="form-group">
                            <label for="levelSkema">Level</label>
                            <input
                              type="number"
                              required
                              class="form-control"
                              id="levelSkema"
                              name="level"
                              placeholder="Level"
                            />
                            <div class="invalid-feedback">
                              Level Skema Tidak Boleh Kosong!
                            </div>
                          </div>
                        </div>
                        <div class="col-md-3">
                          <div class="form-group">
                            <label for="noSkkni">No. SKKNI</label>
                            <input
                              type="text"
                              required
                              class="form-control"
                              id="noSkkni"
                              name="noSkkni"
                              placeholder="No. SKKNI"
                            />
                            <div class="invalid-feedback">
                              No. SKKNI Tidak Boleh Kosong!
                            </div>
                          </div>
                        </div>
                        <div class="col-md-3">
                          <div class="form-group">
                            <label for="tahunSkkni">Tahun SKKNI</label>
                            <input
                              type="number"
                              required
                              class="form-control"
                              id="tahunSkkni"
                              name="tahunSkkni"
                              placeholder="Contoh: 2020"
                            />
                            <div class="invalid-feedback">
                              Tahun SKKNI Tidak Boleh Kosong!
                            </div>
                          </div>
                        </div>
                      </div>

                      <div class="row">
                        <div class="col-md-6">
                          <div class="form-group">
                            <label>Jenis Skema</label>
                            <select
                              required
                              class="form-control select2"
                              style="width: 100%"
                              id="jenisSkema"
                              name="jenisSkemaId"
                            >
                              <option value="" disabled selected>
                                Pilih Jenis Skema
                              </option>
                              <option
                                th:each="type : ${types}"
                                th:value="${type.id}"
                                th:text="${type.name}"
                              ></option>
                            </select>
                            <div class="invalid-feedback">
                              Jenis Skema Tidak Boleh Kosong!
                            </div>
                          </div>
                        </div>
                        <div class="col-md-6">
                          <div class="form-group">
                            <label>Mode Skema</label>
                            <select
                              required
                              class="form-control select2"
                              style="width: 100%"
                              id="modeSkema"
                              name="modeSkemaId"
                            >
                              <option value="" disabled selected>
                                Pilih Mode Skema
                              </option>
                              <option
                                th:each="mode : ${modes}"
                                th:value="${mode.id}"
                                th:text="${mode.name}"
                              ></option>
                            </select>
                            <div class="invalid-feedback">
                              Mode Skema Tidak Boleh Kosong!
                            </div>
                          </div>
                        </div>
                      </div>

                      <div class="row">
                        <div class="col-md-6">
                          <div class="form-group">
                            <label>Tanggal Penetapan</label>
                            <input
                              type="date"
                              required
                              class="form-control"
                              id="tanggal_penetapan"
                              name="tanggalPenetapan"
                            />
                            <div class="invalid-feedback">
                              Tanggal Penetapan Tidak Boleh Kosong!
                            </div>
                          </div>
                        </div>
                        <div class="col-md-6">
                          <div class="form-group">
                            <label>Upload File Dokumen (PDF)</label>
                            <div class="input-group">
                              <div class="custom-file">
                                <input
                                  type="file"
                                  required
                                  class="custom-file-input"
                                  id="fileSkema"
                                  name="fileSkema"
                                  accept=".pdf"
                                />
                                <label class="custom-file-label" for="fileSkema"
                                  >Pilih file</label
                                >
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>

                    <div
                      class="tab-pane fade"
                      id="unit-skema"
                      role="tabpanel"
                      aria-labelledby="tab-unit-skema"
                    >
                      <div class="row mb-3">
                        <div class="col-6 text-left">
                          <button
                            type="button"
                            class="btn btn-secondary prev-tab"
                            data-target-tab="skema-sertifikasi-tab"
                          >
                            <i class="fas fa-arrow-left"></i> Sebelumnya
                          </button>
                        </div>
                        <div class="col-6 text-right">
                          <button
                            type="button"
                            class="btn btn-primary next-tab"
                            data-target-tab="persyaratan-tab"
                          >
                            Selanjutnya <i class="fas fa-arrow-right"></i>
                          </button>
                        </div>
                      </div>

                      <div id="unit-skema-container">
                        <div class="unit-skema-row card card-body mb-3">
                          <div class="row">
                            <div class="col-md-6">
                              <div class="form-group">
                                <label>Kode Unit</label>
                                <input
                                  type="text"
                                  required
                                  class="form-control"
                                  name="kodeUnit[]"
                                  placeholder="Contoh: J.620100.001.01"
                                />
                                <div class="invalid-feedback">
                                  Kode Unit Tidak Boleh Kosong!
                                </div>
                              </div>
                            </div>
                            <div class="col-md-6">
                              <div class="form-group">
                                <label>Judul Unit</label>
                                <input
                                  type="text"
                                  required
                                  class="form-control"
                                  name="judulUnit[]"
                                  placeholder="Contoh: Mengimplementasikan User Interface"
                                />
                                <div class="invalid-feedback">
                                  Judul Unit Tidak Boleh Kosong!
                                </div>
                              </div>
                            </div>
                          </div>

                          <div class="row">
                            <div class="col-12 text-right">
                              <button
                                type="button"
                                class="btn btn-outline-danger btn-sm remove-unit-button"
                              >
                                <i class="fas fa-trash"></i>
                              </button>
                            </div>
                          </div>
                        </div>
                      </div>
                      <div class="row mb-3">
                        <div class="col-12 text-center">
                          <button
                            type="button"
                            id="add-unit-button"
                            class="btn btn-outline-success"
                          >
                            <i class="fas fa-plus"></i> Tambah Data
                          </button>
                        </div>
                      </div>
                    </div>
                    <div
                      class="tab-pane fade"
                      id="unit-elemen"
                      role="tabpanel"
                      aria-labelledby="tab-unit-elemen"
                    >
                      <div class="row mb-3">
                        <div class="col-6 text-left">
                          <button
                            type="button"
                            class="btn btn-secondary prev-tab"
                            data-target-tab="skema-sertifikasi-tab"
                          >
                            <i class="fas fa-arrow-left"></i> Sebelumnya
                          </button>
                        </div>
                        <div class="col-6 text-right">
                          <button
                            type="button"
                            class="btn btn-primary next-tab"
                            data-target-tab="persyaratan-tab"
                          >
                            Selanjutnya <i class="fas fa-arrow-right"></i>
                          </button>
                        </div>
                      </div>

                      <div id="unit-elemen-container">
                        <div class="unit-elemen-row card card-body mb-3">
                          <div class="row">
                            <div class="col-md-5">
                              <div class="form-group">
                                <label>Judul Unit</label>
                                <select
                                  required
                                  class="form-control select2"
                                  style="width: 100%"
                                >
                                  <option value="" disabled selected>
                                    Pilih Judul Unit
                                  </option>
                                  <option value="">Merancang Basis Data</option>
                                  <option value="">
                                    Mengelola Reference and Master Data
                                  </option>
                                  <option value="">Mengelola Metadata</option>
                                </select>
                                <div class="invalid-feedback">
                                  Harapa Pilih Judul Unit!
                                </div>
                              </div>
                            </div>
                            <div class="col-md-2">
                              <div class="form-group">
                                <label>No Elemen</label>
                                <input
                                  type="number"
                                  required
                                  class="form-control"
                                />
                                <div class="invalid-feedback">
                                  Harap Isi No Elemen!
                                </div>
                              </div>
                            </div>
                            <div class="col-md-5">
                              <div class="form-group">
                                <label>Elemen</label>
                                <input
                                  type="text"
                                  required
                                  class="form-control"
                                />
                                <div class="invalid-feedback">
                                  Harap Isi Elemen!
                                </div>
                              </div>
                            </div>
                          </div>

                          <div class="row">
                            <div class="col-12 text-right">
                              <button
                                type="button"
                                class="btn btn-outline-danger btn-sm remove-unit-button"
                              >
                                <i class="fas fa-trash"></i>
                              </button>
                            </div>
                          </div>
                        </div>
                      </div>
                      <div class="row mb-3">
                        <div class="col-12 text-center">
                          <button
                            type="button"
                            id="add-unit-button"
                            class="btn btn-outline-success"
                          >
                            <i class="fas fa-plus"></i> Tambah Data
                          </button>
                        </div>
                      </div>
                    </div>
                    <div
                      class="tab-pane fade"
                      id="kuk"
                      role="tabpanel"
                      aria-labelledby="tab-kuk"
                    >
                      <div class="row mb-3">
                        <div class="col-6 text-left">
                          <button
                            type="button"
                            class="btn btn-secondary prev-tab"
                            data-target-tab="skema-sertifikasi-tab"
                          >
                            <i class="fas fa-arrow-left"></i> Sebelumnya
                          </button>
                        </div>
                        <div class="col-6 text-right">
                          <button
                            type="button"
                            class="btn btn-primary next-tab"
                            data-target-tab="persyaratan-tab"
                          >
                            Selanjutnya <i class="fas fa-arrow-right"></i>
                          </button>
                        </div>
                      </div>

                      <div id="kuk-container">
                        <div class="kuk-row card card-body mb-3">
                          <div class="row">
                            <div class="col-md-6">
                              <div class="form-group">
                                <label>Elemen</label>
                                <select
                                  required
                                  class="form-control select2"
                                  style="width: 100%"
                                >
                                  <option value="" disabled selected>
                                    Pilih Elemen
                                  </option>
                                  <option value="">
                                    Kebutuhan data diidentifikasi sesuai tujuan
                                    teknis data science
                                  </option>
                                  <option value="">
                                    Kebutuhan data diperiksa ketersediaannya
                                    sesuai aturan yang berlaku.
                                  </option>
                                  <option value="">
                                    Kebutuhan data ditentukan volumenya sesuai
                                    tujuan teknis data science.
                                  </option>
                                </select>
                                <div class="invalid-feedback">
                                  Harapa Pilih Judul Unit!
                                </div>
                              </div>
                            </div>

                            <div class="col-md-6">
                              <div class="form-group">
                                <label>Nama KUK</label>
                                <input
                                  type="text"
                                  required
                                  class="form-control"
                                />
                                <div class="invalid-feedback">
                                  Harap Isi Elemen!
                                </div>
                              </div>
                            </div>
                          </div>

                          <div class="row">
                            <div class="col-12 text-right">
                              <button
                                type="button"
                                class="btn btn-outline-danger btn-sm remove-unit-button"
                              >
                                <i class="fas fa-trash"></i>
                              </button>
                            </div>
                          </div>
                        </div>
                      </div>
                      <div class="row mb-3">
                        <div class="col-12 text-center">
                          <button
                            type="button"
                            id="add-unit-button"
                            class="btn btn-outline-success"
                          >
                            <i class="fas fa-plus"></i> Tambah Data
                          </button>
                        </div>
                      </div>
                    </div>

                    <div
                      class="tab-pane fade"
                      id="tab-persyaratan"
                      role="tabpanel"
                      aria-labelledby="tab-persyaratan"
                    >
                      <div class="row mb-3">
                        <div class="col-12 text-left">
                          <button
                            type="button"
                            class="btn btn-secondary prev-tab"
                            data-target-tab="unit-skema-tab"
                          >
                            <i class="fas fa-arrow-left"></i> Sebelumnya
                          </button>
                        </div>
                      </div>

                      <div class="card card-outline card-info">
                        <div class="card-header">
                          <h3 class="card-title">Format Teks Persyaratan</h3>

                          <div
                            id="custom-summernote-toolbar"
                            class="float-right"
                          >
                            <div class="btn-group">
                              <button
                                type="button"
                                class="btn btn-sm btn-default"
                                data-command="bold"
                                title="Bold"
                              >
                                <i class="fas fa-bold"></i>
                              </button>
                              <button
                                type="button"
                                class="btn btn-sm btn-default"
                                data-command="italic"
                                title="Italic"
                              >
                                <i class="fas fa-italic"></i>
                              </button>
                              <button
                                type="button"
                                class="btn btn-sm btn-default"
                                data-command="underline"
                                title="Underline"
                              >
                                <i class="fas fa-underline"></i>
                              </button>
                            </div>

                            <div class="btn-group ml-2">
                              <button
                                type="button"
                                class="btn btn-sm btn-default"
                                data-command="insertUnorderedList"
                                title="Bullet List"
                              >
                                <i class="fas fa-list-ul"></i>
                              </button>
                              <button
                                type="button"
                                class="btn btn-sm btn-default"
                                data-command="insertOrderedList"
                                title="Number List"
                              >
                                <i class="fas fa-list-ol"></i>
                              </button>
                            </div>
                          </div>
                        </div>
                      </div>

                      <div id="persyaratan-container">
                        <div
                          class="persyaratan-row row align-items-center mb-3"
                        >
                          <div class="col-11">
                            <textarea
                              required
                              class="form-control summernote-persyaratan"
                              name="persyaratan[]"
                            ></textarea>
                          </div>
                          <div class="col-1">
                            <button
                              type="button"
                              class="btn btn-outline-danger btn-sm remove-persyaratan-button"
                            >
                              <i class="fas fa-trash"></i>
                            </button>
                          </div>
                          <div class="invalid-feedback">
                            Persyaratan Tidak Boleh Kosong!
                          </div>
                        </div>
                      </div>

                      <div class="row mt-3">
                        <div class="col-12">
                          <button
                            type="button"
                            id="add-persyaratan-button"
                            class="btn btn-outline-success btn-block"
                          >
                            <i class="fas fa-plus"></i> Tambah Persyaratan
                          </button>
                        </div>
                      </div>
                    </div>
                  </div>

                  <div class="card-footer mt-3 text-left">
                    <button
                      type="submit"
                      id="save-button"
                      class="btn btn-outline-warning"
                    >
                      Simpan
                    </button>
                    <a
                      th:href="@{/admin/skema}"
                      class="btn btn-outline-info"
                      id="cancel-button"
                      >Batal</a
                    >
                  </div>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
