<!DOCTYPE html>
<html
  lang="en"
  xmlns:th="http://www.thymeleaf.org"
  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
  layout:decorate="~{layouts/app}"
>
  <head th:replace="~{fragments/header :: header('Tambah Skema')}"></head>

  <body>
    <div layout:fragment="content">
      <div class="container-fluid">
        <div class="row">
          <div class="col-12">
            <div class="card card-primary card-tabs">
              <div class="card-header p-0 pt-1">
                <ul class="nav nav-tabs" id="skema-tab" role="tablist">
                  <li class="nav-item">
                    <a
                      class="nav-link active"
                      id="skema-sertifikasi-tab"
                      data-toggle="pill"
                      href="#skema-sertifikasi"
                      role="tab"
                      aria-controls="skema-sertifikasi"
                      aria-selected="true"
                      >1. Skema Sertifikasi</a
                    >
                  </li>
                  <li class="nav-item">
                    <a
                      class="nav-link"
                      id="unit-skema-tab"
                      data-toggle="pill"
                      href="#unit-skema"
                      role="tab"
                      aria-controls="unit-skema"
                      aria-selected="false"
                      >2. Unit Skema</a
                    >
                  </li>
                  <li class="nav-item">
                    <a
                      class="nav-link"
                      id="persyaratan-tab"
                      data-toggle="pill"
                      href="#tab-persyaratan"
                      role="tab"
                      aria-controls="content-tab-persyaratan"
                      aria-selected="false"
                    >
                      3. Persyaratan Dasar
                    </a>
                  </li>
                </ul>
              </div>

              <div class="card-body">
                <form
                  th:action="@{/admin/skema/save}"
                  method="post"
                  enctype="multipart/form-data"
                >
                  <div class="tab-content" id="skema-tabContent">
                    <div
                      class="tab-pane fade show active"
                      id="skema-sertifikasi"
                      role="tabpanel"
                      aria-labelledby="skema-sertifikasi-tab"
                    >
                      <div class="form-group">
                        <label for="namaSkema">Nama Skema</label>
                        <input
                          type="text"
                          class="form-control"
                          id="namaSkema"
                          name="namaSkema"
                          placeholder="Masukkan nama skema"
                          required
                        />
                      </div>
                      <div class="form-group">
                        <label for="kodeSkema">Kode Skema</label>
                        <input
                          type="text"
                          class="form-control"
                          id="kodeSkema"
                          name="kodeSkema"
                          placeholder="Contoh: SKM-001"
                          required
                        />
                      </div>
                      <div class="form-group">
                        <label>Jenis Skema</label>
                        <select
                          class="form-control select2"
                          style="width: 100%"
                        >
                          <option>SKKNI</option>
                          <option>Okupasi</option>
                          <option>Klaster</option>
                        </select>
                      </div>
                      <div class="form-group">
                        <label for="exampleInputLevel">Level</label>
                        <input
                          type="number"
                          class="form-control"
                          id="exampleInputLevel"
                          placeholder="Masukkan Level"
                        />
                      </div>
                      <div class="form-group">
                        <label>Mode Skema</label>
                        <select
                          class="form-control select2"
                          style="width: 100%"
                        >
                          <option>Mandiri</option>
                          <option>Referensi BNSP</option>
                        </select>
                      </div>
                      <div class="form-group">
                        <label>Tanggal Penetapan</label>
                        <div
                          class="input-group date"
                          id="reservationdate"
                          data-target-input="nearest"
                        >
                          <input
                            type="text"
                            class="form-control datetimepicker-input"
                            data-target="#reservationdate"
                          />
                          <div
                            class="input-group-append"
                            data-target="#reservationdate"
                            data-toggle="datetimepicker"
                          >
                            <div class="input-group-text">
                              <i class="fa fa-calendar"></i>
                            </div>
                          </div>
                        </div>
                      </div>

                      <div class="form-group">
                        <label for="fileSkema">Upload File Dokumen (PDF)</label>
                        <div class="input-group">
                          <div class="custom-file">
                            <input
                              type="file"
                              class="custom-file-input"
                              id="fileSkema"
                              name="fileSkema"
                              accept=".pdf"
                            />
                            <label class="custom-file-label" for="fileSkema"
                              >Pilih file</label
                            >
                          </div>
                        </div>
                      </div>
                    </div>

                    <div
                      class="tab-pane fade"
                      id="unit-skema"
                      role="tabpanel"
                      aria-labelledby="tab-unit"
                    >
                      <p>
                        Tampilan untuk menambah unit-unit kompetensi pada skema.
                      </p>
                    </div>

                    <div
                      class="tab-pane fade"
                      id="tab-persyaratan"
                      role="tabpanel"
                      aria-labelledby="tab-persyaratan"
                    >
                      <p>
                        Tampilan untuk menambah persyaratan dasar pendaftaran.
                      </p>
                    </div>
                  </div>

                  <div class="card-footer mt-3 text-right">
                    <a th:href="@{/admin/skema}" class="btn btn-secondary"
                      >Batal</a
                    >
                    <button type="submit" class="btn btn-primary">
                      Simpan Skema
                    </button>
                  </div>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
