<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>SILSP | Login Page</title>
    <link
      rel="shortcut icon"
      th:href="@{/dist/img/favicon2.ico}"
      type="image/x-icon"
    />
    <link rel="stylesheet" th:href="@{/dist/css/login.css}" />
  </head>
  <body>
    <div class="container">
      <div class="row">
        <div class="col">
          <div class="banner">
            <img th:src="@{/dist/img/LogoLSP.png}" alt="Banner" />
          </div>
        </div>
        <div class="col">
          <div class="login-box">
            <div class="card">
              <div class="card-header">
                <h1>Selamat Datang</h1>
                <!-- <p>Di Sistem Pendaftaran Asesmen LSP TDDI</p> -->
              </div>

              <form th:action="@{/login}" method="post">
                <div class="card-body">
                  <div class="form-group">
                    <label for="username">Username or Email</label>
                    <input
                      class="input"
                      type="text"
                      name="username"
                      id="username"
                      placeholder="username or email"
                      title="Username"
                      required
                    />
                  </div>
                  <div class="form-group">
                    <label for="password">Password</label>
                    <input
                      class="input"
                      type="password"
                      name="password"
                      id="password"
                      placeholder=""
                      title="Password"
                      required
                    />
                  </div>
                  <span
                    >Tidak Punya Akun?
                    <a class="link" th:href="@{/register}">Daftar</a></span
                  >
                </div>
                <div class="card-footer">
                  <button type="submit" class="btn-login">Login</button>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
